[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
ollama = "*"
flask = "*"
flask-cors = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
